progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 5px;
  margin-bottom: 5px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value{
    transition: 250ms all;
    background-color: #005BFF;
    border-radius: 2px;
}

progress[disabled]::-webkit-progress-value{
    transition: 250ms all;
    background-color: #e6e6e6;
    border-radius: 2px;
}